<div class="picture-container">
	<img class="my-picture" src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAciAAAAJGY1OTk4OTE4LTEzN2EtNDU3OC04MjhjLWI1MTAwNDdlYTA3Ng.jpg"></img>
</div>
<h1 class="about-title"> Leo's Story</h1>
<p>
After finishing my first two years at Miami-Dade College as a Physics major.  I moved to Gainesville, Fl where I switched majors and earned a Bachelors of Science in Mathematics at the University of Florida. After a year of continued part-time night-work at Publix Super Markets as well as substitute teaching and free lance math tutoring of all ages, I earned a full-time position as a Math Teacher at Renaissance Middle Charter School in Miami, Fl. I taught 7th and 8th graders and Honors Algebra for three years. At the end of my third year (2013) I enrolled into a Masters of Mathematics Program at NYU Tandon School of Engineering (formerly NYU Polytechnic School of Engineering) in Brooklyn, NY. Since graduating in 2015, I have since graduated from a General Assembly Web Development Immersive Course. We met daily for three months, usually staying at GA until closing time at 9pm.
</p>
</br>
<p>
I am continually expanding my programming skills and am looking to join a team of programmers who can help me in the learning process. I am a Junior Web Developer who is excited to use my skills to make amazing websites. My extensive mathematics background proves my capacity for internalizing difficult programming concepts and my teaching record proves my ability to communicate such concepts with others, making me an integral part of any team project.
</p>

<a href="/contact" class="cta"> Contact Me </a>