<div class="main_content">
	<h1>Contact Leonel Delamo Jr.</h1>
	<% if @contact_submitted %>
	<p>Thank you!</p>
	<%else%>
	<h3>Phone:</h3>
	<p>786-859-9939</p>
	</br>
	</br>
	<h3>Email:</h3>
	<p>ldelamojr@gmail.com</p>
	</br>
	</br>
	<h3>LinkedIn:</h3>
	<p>https://www.linkedin.com/in/leoneldelamojr</p>
	<!-- <form class="contact" action="/contact" method="post">
		<div class="input-row">
				<label for="user_name">User name: </label>
				<input type="text" name="name"/>
		</div>
		<div class="input-row">
				<label for="email">Email: </label>
				<input type="text" name="email"/>
		</div>
		<div class="input-row">
				<label for="message">Message: </label>
				<textarea name="message"></textarea>
				
		</div>
		<div class="input-row">
			<input type="submit" value="Contact Me" />
		</div>
	</form> -->
	<%end%>
</div>