    <div class="main_content">
      <h1>Hello, My Name is Leo!</h1>
      <h2>I design and develop really cool websites.</h2>
      <div class="slider_container">
        <ul class="slider clearfix">
          <li class="slide-1"></li>
          <li class="slide-2"></li>
          <li class="slide-3"></li>
        </ul>
      </div>
      <div class="info_container">

        <!-- <ul class="info clearfix">
          <li class="slide-3">
            <strong>Who I Am</strong>
          I'm a Grocery Clerk turned Teacher turned Mathematician turned Web Developer.
          </li>
          <li>
            <strong>What I Do</strong>
          I find opportunities to help others reach their goals.
          </li>
          <li>
            <strong>Where I Do It</strong>
          Ever changing 
          </li>
        </ul> -->
      </div>
    </div>
    <div class="recent_work_container">
      <ul class="recent_work clearfix">
        <li><a href="https://ldelamojr.github.io"><img class="works" src="../img/slide-1.png" /></a></li>
        <li><a href="https://js-animator.herokuapp.com/"><img class="works" src="../img/slide-2.png" /></a></li>
        <li><a href="https://murmuring-fortress-68555.herokuapp.com/"><img class="works" src="../img/slide-3.png" /></a></li>
<!--         <li><a href="/"><img class="works" src="http://lorempixel.com/200/200/technics/4" /></a></li>
        <li><a href="/"><img class="works" src="http://lorempixel.com/200/200/technics/5" /></a></li>
        <li><a href="/"><img class="works" src="http://lorempixel.com/200/200/technics/6" /></a></li>
        <li><a href="/"><img class="works" src="http://lorempixel.com/200/200/technics/7" /></a></li>
        <li><a href="/"><img class="works" src="http://lorempixel.com/200/200/technics/9" /></a></li> -->
      </ul>
    </div>
    <a href="/contact" class="cta">Contact Me!</a>
