    <div class="main_content">
      <h1>Hello, My Name is Leo!</h1>
      <h2>I design and develop really cool websites for the internet.</h2>
      <div class="slider_container">
        <ul class="slider clearfix">
          <li class="slide-1"></li>
          <li class="slide-2"></li>
          <li class="slide-3"></li>
        </ul>
      </div>
      <div class="info_container">
        <ul class="info clearfix">
          <li class="slide-3">
            <strong>Who I Am</strong>
          I'm a Grocery Clerk turned Teacher turned Mathematician turned Web Developer.
          </li>
          <li>
            <strong>What I Do</strong>
          I find opportunities to help others reach their goals.
          </li>
          <li>
            <strong>Where I Do It</strong>
          Ever changing 
          </li>
        </ul>
      </div>
    </div>
    <div class="recent_work_container">
      <ul class="recent_work clearfix">
        <li><a href="/"><img src="http://lorempixel.com/200/200/technics/1" /></a></li>
        <li><a href="/"><img src="http://lorempixel.com/200/200/technics/2" /></a></li>
        <li><a href="/"><img src="http://lorempixel.com/200/200/technics/3" /></a></li>
        <li><a href="/"><img src="http://lorempixel.com/200/200/technics/4" /></a></li>
        <li><a href="/"><img src="http://lorempixel.com/200/200/technics/5" /></a></li>
        <li><a href="/"><img src="http://lorempixel.com/200/200/technics/6" /></a></li>
        <li><a href="/"><img src="http://lorempixel.com/200/200/technics/7" /></a></li>
        <li><a href="/"><img src="http://lorempixel.com/200/200/technics/9" /></a></li>
      </ul>
    </div>
    <a href="/" class="cta">Contact Me!</a>
